<div class="auth-container d-flex">
  <!-- Left Side (Title / Branding) -->
  <div class="auth-right d-flex flex-column justify-content-center align-items-center text-white">
    <h1 class="display-4 fw-bold">Address Book System</h1>
      <h4 class="lead">Secure login to manage your contacts</h4>
    <p >OmniaaKhalill@gmail.com</p>
  </div>

  <!-- Right Side (Form) -->
  <div class="auth-left d-flex justify-content-center align-items-center">
    <div class="auth-form-box p-4 shadow rounded bg-white">
      <h2 class="mb-4 text-center">Register</h2>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

        <!-- Full Name -->
        <div class="mb-3">
          <label>Full Name</label>
          <input type="text" 
                 class="form-control" 
                 placeholder="Enter your full name"
                 name="fullName"
                 [(ngModel)]="form.fullName"
                 required>
                 @if (registerForm.submitted && !form.fullName) {
          <div  class="text-danger">
            Full name is required
          </div>}
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label>Email</label>
          <input type="email" 
                 class="form-control" 
                 placeholder="Enter email"
                 name="email"
                 [(ngModel)]="form.email"
                 required
                 email>
                 @if (registerForm.submitted && !form.email) {
          <div class="text-danger">
            Email is required
          </div>}
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label>Password</label>
          <input type="password" 
                 class="form-control" 
                 placeholder="Enter password"
                 name="password"
                 [(ngModel)]="form.password"
                 required
                 pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$">
                 @if (registerForm.submitted && !form.password) {
          <div  class="text-danger">
            Password is required
          </div>}
          @if (registerForm.submitted && form.password && !registerForm.controls['password'].valid) {
          <div  class="text-danger">
            Must be 8+ chars, include uppercase, lowercase, digit, and special character
          </div>}
        </div>

        <button type="submit" class="btn btn-success w-100">Register</button>
      </form>

      <p class="mt-3 text-center text-black pointer">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </div>
  </div>
</div>
