


<div class="container   mt-4">
<div class=" d-flex flex-row justify-content-between my-5">
   <h5 >All Profiles</h5>

    <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search profiles..."
           [(ngModel)]="searchTerm" (keyup)="onSearch()">
  </div>

<button class="btn btn-primary mb-3" (click)="exportToExcel()">Export to Excel</button>
  <button class="btn btn-success mb-3" (click)="addProfile()">Add Profile</button>

</div>
 

  <table class="table table-hover shadow-sm align-middle">
    <thead class="table-light "  >
      <tr>
        <th> Name</th>
        <th>Email</th>
          <th>Job</th>
        <th>Phone </th>
        <th>Address</th>
        <th>Role</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (profile of filteredEntities; track profile.id) {
        <tr>
          <td>{{ profile.fullName }}</td>
          <td>{{ profile.email }}</td>
             <td>{{ profile.jobName }}</td>
          <td>{{ profile.phoneNumber || '-' }}</td>
          <td>{{ profile.address || '-' }}</td>
          <td>
            
            {{ profile.role}}
              
            
          </td>
          <td class="text-center ">
           <button class="btn btn-sm btn-warning" (click)="editProfile(profile)">Update</button>
          <button class="btn btn-sm btn-danger" (click)="openDelete(profile)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
 

<app-profile-modal-component
  [profile]="selectedItem"
  [jobs]="jobs"
  (save)="saveProfile($event)">
</app-profile-modal-component>

<app-confirm-delete-component
  #deleteModal 
  [itemName]="selectedItemName" 
  (confirm)="confirmDelete()">
</app-confirm-delete-component>